@page
@model PhotoAlbum_Serna.Pages.MobileGamesModel
@{
	 ViewData["Title"] = "Popular Mobile Games";
}
<head>
    <link rel="stylesheet" href="/css/games.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
</head>
<body>
    <h1 class="title">Popular Mobile Games</h1>
	<div class="album py-5 bg-light">
<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
                    <img id="image" src="Resources/Images/65.jpg" alt="Logo_1" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%"></rect></img>

                <div class="card-body">
                     <p><b>Angry Birds</b> is a Finnish action-based media franchise created by Rovio Entertainment. The game series focuses on the eponymous flock of colorful angry birds who try to save their eggs 
				 from green-colored pigs.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                    <img src="Resources/Images/64.jpg" alt="Logo_1" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%"></rect></img>
                    
                <div class="card-body">
                    <p><b>Pokémon Unite</b> is a multiplayer game where players face off in 5-on-5 team battles to see who can score the most points within the allotted time. 
				 Teamwork is key as you and your teammates defeat wild Pokémon. </p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                    <img src="Resources/Images/63.jpg" alt="Logo_1" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%"></rect></img>

                <div class="card-body">
                    <p><b>Subway Surfers</b> is a single player mobile gaming app. The aim of the game is to outrun a train inspector while dodging oncoming trains, 
				 barriers and other objects. Collecting coins on the way gives players advantages.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                    <img src="Resources/Images/61.jpg" alt="Logo_1" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%"></rect></img>

                <div class="card-body">
                    <p class="card-text"><b>Mobile Legends</b> is a multiplayer online battle arena game. The game is free-to-play and is only 
				 monetized through in-game purchases like characters and skins. Each player can control a selectable Hero, with unique abilities and traits.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                    <img src="Resources/Images/62c.jpg" alt="Logo_1" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%"></rect></img>

                <div class="card-body">
                    <p><b>Clash of Clans</b> is an online multiplayer strategy game published by Supercell. You can build your own community, train troops and attack other players. 
				 You can join a clan of players or start your own clan and invite friends.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                    <img src="Resources/Images/69.jpg" alt="Logo_1" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%"></rect></img>

                <div class="card-body">
                    <p><b>PUBG</b> is a player versus player shooter game where players fight in a battle royale, a type of large-scale deathmatch where players fight. 
				 Players can choose to enter the match solo, duo, or with a small team of up to four people.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div>
        </div>
         <div class="col">
            <div class="card shadow-sm">
                    <img src="Resources/Images/67.jpg" alt="Logo_1" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%"></rect></img>

                <div class="card-body">
                    <p><b>Chess</b> is a game played between two opponents on opposite sides of a board containing 64 squares of alternating colors. Each player has 16 pieces: 1 king, 1 queen, 2 rooks, 2 bishops, 
				 2 knights, and 8 pawns. The goal of the game is to checkmate the other king.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div>
        </div>
         <div class="col">
            <div class="card shadow-sm">
                    <img src="Resources/Images/68.jpg" alt="Logo_1" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%"></rect></img>

                <div class="card-body">
                    <p><b>Minecraft</b> is a game where players place blocks and go on adventures. This includes anything from crafting items like containers, to building structures like houses, castles, and 
				 cities, or even making complex mechanical-devices, all within the game's world.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div>
        </div>
         <div class="col">
            <div class="card shadow-sm">
                    <img src="Resources/Images/66.jpg" alt="Logo_1" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%"></rect></img>

                <div class="card-body">
                     <p><b>Clash Royale</b> is an online multiplayer card game by Supercell, featuring characters from the empire building game, Clash of Clans. Clash Royale players can collect and upgrade cards through in-app 
				 purchases, win trophies, crowns and create or join battle to share cards and win territories.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div>
        </div>
         <div class="col">
            <div class="card shadow-sm">
                    <img src="Resources/Images/70.jpg" alt="Logo_1" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%"></rect></img>

                <div class="card-body">
                    <p><b>Plants vs. Zombies</b> is a video game franchise developed by PopCap Games, a subsidiary of Electronic Arts (EA). The series follows the affiliates of David "Crazy Dave" Blazing as they use his plants to 
				 defend against a zombie invasion, led by Dr. Edgar George Zomboss.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div>
        </div>
         <div class="col">
            <div class="card shadow-sm">
                    <img src="Resources/Images/71.jpg" alt="Logo_1" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%"></rect></img>

                <div class="card-body">
                    <p><b>Genshin Impact</b> takes place in the fantasy world of Teyvat, seven nations is tied to a different element and ruled by a different god. The story follows the Traveler, who has 
				 traveled across countless worlds with their twin sibling before becoming separated in Teyvat.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div>
        </div>
         <div class="col">
            <div class="card shadow-sm">
                    <img src="Resources/Images/72.jpg" alt="Logo_1" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%"></rect></img>

                <div class="card-body">
                    <p><b>Tongits Games</b>'s objective is to use up all the cards in the hand in set combinations, built either by using the other players' discarded cards or those drawn from the central stack. Tongits
				 was a popular game whenever people got together, and with lockdowns and quarantines.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div>
        </div>
         <div class="col">
            <div class="card shadow-sm">
                    <img src="Resources/Images/73.jpg" alt="Logo_1" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%"></rect></img>

                <div class="card-body">
                     <p><b>Call of Duty: Mobile</b> is an all-new mobile shooter built around the Call of Duty franchise. Choose from a variety of classic Multiplayer game modes and duke it out on some of the most beloved 
				 maps in Call of Duty history.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div>
        </div>
         <div class="col">
            <div class="card shadow-sm">
                    <img src="Resources/Images/74.jpg" alt="Logo_1" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%"></rect></img>

                <div class="card-body">
                     <p><b>Apex Legends Mobile</b> is a strategic battle royale shooter game that features Legendary character-based gameplay, best-in-class squad battles, and fast-paced combat. Join forces with up to two friends 
				 and compete with other mobile players.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div>
        </div>
         <div class="col">
            <div class="card shadow-sm">
                    <img src="Resources/Images/75.jpg" alt="Logo_1" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%"></rect></img>

                <div class="card-body">
                    <p><b>Eight Ball</b> is a call shot game played with a cue ball and fifteen object balls, numbered 1 through 15. One player must pocket balls of the group numbered 1 through 7 (solid colors), while the other 
				 player has 9 thru 15 (stripes). Player pocketing the 8-ball wins.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div>
        </div>
         <div class="col">
            <div class="card shadow-sm">
                    <img src="Resources/Images/76a.jpg" alt="Logo_1" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%"></rect></img>

                <div class="card-body">
                     <p><b>Asphalt 9: Legends</b>, is a game where you take the wheel of real cars from high-end renowned legendary car manufacturers among many other international brands. 
				 Drive, boost and perform stunts across dynamic real-life locations in single or multiplayer play.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div>
        </div>
         <div class="col">
            <div class="card shadow-sm">
                    <img src="Resources/Images/77.jpg" alt="Logo_1" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%"></rect></img>

                <div class="card-body">
                    <p><b>Candy Crush Saga</b> is a puzzle game that involves making matches of 3 or more colored candy pieces. Players swap candy pieces either horizontally and vertically, and once a match is made, the candy 
				 disappears, causing the surrounding pieces of candy to fall into the empty spaces.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div>
        </div>
         <div class="col">
            <div class="card shadow-sm">
                    <img src="Resources/Images/78.jpg" alt="Logo_1" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%"></rect></img>

                <div class="card-body">
                     <p><b>Among Us</b> is a game where players are dropped into a damaged spaceship and each is assigned to be a crewmember or an impostor. If you're a crewmember, you have to fix your spaceship.
				 If impostor, your job is to sabotage the ship and kill the crewmembers.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div>
        </div>
         <div class="col">
            <div class="card shadow-sm">
                    <img src="Resources/Images/79.jpg" alt="Logo_1" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%"></rect></img>

                <div class="card-body">
                    <p><b>Pokémon Go</b> is a free smartphone app that combines gaming with the real world. The game uses location tracking and mapping technology to create an ‘augmented reality’ where players catch and train 
				 Pokémon characters in real locations.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div>
        </div>
         <div class="col">
            <div class="card shadow-sm">
                    <img src="Resources/Images/80.jpg" alt="Logo_1" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%"></rect></img>

                <div class="card-body">
                    <p><b>Wild Rift</b> is a multiplayer online battle arena game in the three-dimensional isometric perspective. With a gameplay similar to the League of Legends PC version, the objective of the game 
				 is to take down the opposing team's base.</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>

