@page
@model PhotoAlbum_Serna.Pages.Index1Model
@{
	 ViewData["Title"] = "NBA Players";
}
<head>
   <link rel="stylesheet" href="/css/players.css">
</head>
<body>
	<h1 class="title">Great NBA Players</h1>
	<div class="row mb-2">
		<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">New York Knicks</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Derrick Rose</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">An American professional basketball player for the New York Knicks of the National 
				Basketball Association (NBA). Drafted first overall by his hometown Chicago Bulls in the 2008 NBA draft. He was named the NBA Rookie of the Year in 2009 and became the youngest player to win the NBA Most Valuable Player Award in 2011 at age 22.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/36.jpg" alt="Agent_1" width="200" height="282" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>

	<div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dallas Mavericks</font></font></strong>
          <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kyrie Irving</font></font></h3>
          <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">An American professional basketball player for the Dallas Mavericks of the National Basketball Association (NBA). Named the Rookie of the Year after being selected by the Cleveland 
				Cavaliers with the first overall pick in the 2011 NBA draft. An eight-time All-Star and three-time member of the All-NBA Team, won an NBA championship with the Cavaliers.</font></font></p>
        </div>
        <div class="col-auto d-none d-lg-block">
		  <img class="bd-placeholder-img" src="Resources/Images/29.jpg" alt="Agent_1" width="200" height="282" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
        </div>
      </div>
    </div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Los Angeles Lakers</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kobe Bryant</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> An American professional basketball player. Spent his entire 20-year career with the Los Angeles Lakers 
				in the National Basketball Association (NBA). Widely regarded as one of the greatest basketball players and scorers of all time, Bryant won five NBA championships, a two-time NBA Finals MVP and etc.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/28.jpg" alt="Agent_1" width="200" height="282" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dallas Mavericks</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dirk Nowitzki</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">A German former professional basketball player who is a special advisor for the Dallas Mavericks of the National 
				Basketball Association (NBA).He is widely regarded as one of the greatest power forwards of all time and considered by many to be the greatest European player of all time.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/23.jpg" alt="Agent_1" width="200" height="282" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dallas Mavericks</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Luka Dončić</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">A Slovenian professional basketball player for the Dallas Mavericks of the National Basketball Association (NBA). In 2018, Dončić declared for the NBA draft for the Dallas Mavericks. Selected 
				unanimously to the NBA All-Rookie First Team and won Rookie of the Year for the 2018–19 season. Mavericks' franchise leader in career triple-doubles.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/31.jpg" alt="Agent_1" width="200" height="282" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Los Angeles Lakers</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lebron James</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">An American professional basketball player for the Los Angeles Lakers in the National Basketball Association (NBA). Nicknamed "King James", he is considered to be one of the greatest basketball players in history. 
				  All-time leading scorer in NBA history. Won four NBA championships with the Cleveland, Miami, and Los Angeles.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/25.jpg" alt="Agent_1" width="200" height="282" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Philadelphia 76ers</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">James Harden</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">An American professional basketball player for the Philadelphia 76ers of the National Basketball Association (NBA). One of the greatest scorers and shooting guards in NBA history. Selected with the third overall pick in the 
				2009 NBA draft by the Oklahoma City Thunder. In 2012, he was named NBA Sixth Man of the Year with the Thunder.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/26.jpg" alt="Agent_1" width="200" height="282" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>

	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Milwaukee Bucks</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Giannis Antetokounmpo</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">A Greek-Nigerian professional basketball player for the Milwaukee Bucks of the National Basketball Association (NBA). Nicknamed as "Greek Freak". One of the greatest power forwards of all time 
				  and one of the greatest European players of all time.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/24.jpg" alt="Agent_1" width="200" height="282" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Chicago Bulls</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">DeMar DeRozan</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">An American professional basketball player for the Chicago Bulls of the National Basketball Association (NBA). Selected ninth overall by the Toronto Raptors in the 2009 NBA draft. 
				He is a six-time NBA All-Star and a three-time All-NBA Team member. He spent nine seasons with the Raptors, including five playoff runs.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/22.jpg" alt="Agent_1" width="200" height="282" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Portland Trail BLazers</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Damian Lillard</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">An American professional basketball player for the Portland Trail Blazers of the National Basketball Association (NBA).
				Selected by Portland with the sixth overall pick in the 2012 NBA draft. Nicknamed Dame Time for his history of making big shots in the clutch, he has received seven NBA All-Star and six All-NBA Team selections.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/30.jpg" alt="Agent_1" width="200" height="282" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Los Angeles Clippers</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kawhi Leonard</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> An American professional basketball player for the Los Angeles Clippers of the National Basketball Association (NBA). A two-time NBA champion, he is a five-time All-Star with three All-NBA First Team selections.
				Nicknamed the "Claw" or "Klaw" for his ball-hawking skills, he won Defensive Player of the Year honors in 2015 and 2016.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/27.jpg" alt="Agent_1" width="200" height="282" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Denver Nuggets</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Jamal Murray</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">A Canadian professional basketball player for the Denver Nuggets of the National Basketball Association (NBA). He also represents the Canadian national team. He played one season of college basketball for the 
				Kentucky Wildcats before being drafted by the Nuggets with the seventh overall pick in the 2016 NBA draft.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/34.jpg" alt="Agent_1" width="200" height="282" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Memphis Grizzlies</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ja Morant</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">An American professional basketball player for the Memphis Grizzlies of the National Basketball Association (NBA). Selected by the Grizzlies with the second overall pick in the 2019 NBA draft and named 
				the NBA Rookie of the Year in 2020. Named to his first NBA All Star Game in 2022 as a starter, and won the NBA Most Improved Player Award..</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/33.jpg" alt="Agent_1" width="200" height="282" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cleveland Cavaliers</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Donovan Mitchell</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">An American professional basketball player for the Cleveland Cavaliers of the National Basketball Association (NBA). Nicknamed "Spida", drafted in the first round of the 2017 NBA draft with the 13th overall pick. He is a four-time NBA All-Star.
				Named to the NBA All-Rookie First Team and won the Slam Dunk Contest in 2018.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/32.jpg" alt="Agent_1" width="200" height="282" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Los Angeles Clippers</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Paul George</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">An American professional basketball player for the LA Clippers of the National Basketball Association (NBA). Nicknamed "PG-13", he is a eight-time NBA All-Star and six-time member of the All-NBA Team.
				Selected by the Indiana Pacers with the 10th overall pick of the 2010 NBA draft, and named as the NBA Most Improved Player in 2013.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/35.jpg" alt="Agent_1" width="200" height="282" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Miami Heat</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Jimmy Butler</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">An American professional basketball player for the Miami Heat of the National Basketball Association (NBA). Nicknamed "Jimmy Buckets", he is a six-time NBA All-Star. Butler was drafted with the 30th overall pick in the 2011 NBA draft by the Chicago Bulls. In 2015, he was named the NBA Most Improved Player.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/21.jpg" alt="Agent_1" width="200" height="282" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Miami Heat</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dwayne Wade</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">An American former professional basketball player. Wade spent the majority of his 16-year career playing for the Miami Heat of the National Basketball Association (NBA) and won three NBA championships, was a 13-time NBA All-Star and Wade is also Miami's all-time leader in points, games, assists, steals, shots made, and shots taken.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/38.jpg" alt="Agent_1" width="200" height="282" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Boston Celtics</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Jason Tatum</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">An American professional basketball player for the Boston Celtics of the National Basketball Association (NBA). Tatum was selected with the third overall pick by the Boston Celtics in the 2017 NBA draft. A four-time NBA All-Star and two-time All-NBA selection, Tatum was named 
				the NBA Eastern Conference Finals MVP in 2022.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/37.jpg" alt="Agent_1" width="200" height="282" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Los Angeles Clippers</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Russel Westbrook</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">An American professional basketball player for the Los Angeles Clippers of the National Basketball Association (NBA). He is a nine-time NBA All-Star and earned the NBA Most Valuable Player Award (MVP) for the 2016–17 season. 
				Also led the league in scoring in 2014–15 and 2016–17, and won back-to-back NBA All-Star Game MVP awards in 2015-16.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/39.jpg" alt="Agent_1" width="200" height="282" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Denver Nuggets</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nikola Jokić</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">A Serbian professional basketball player who is a center for the Denver Nuggets of the National Basketball Association (NBA). A five-time NBA All-Star, he won the 
				NBA MVP Award for the 2020–21 and 2021–22 seasons. Nicknamed "the Joker",Jokić was selected by the Nuggets in the second round of the 2014 NBA draft.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/40nn.jpg" alt="Agent_1" width="200" height="282" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>


	</div>

</body>