@page
@model PhotoAlbum_Serna.Pages.NbashoesModel
@{
    ViewData["Title"] = "Nba Shoes";
}
<head>
    <link rel="stylesheet" href="/css/shoes.css">
</head>
<body>
    <h1 class="title"> Top NBA Signature Shoes</h1>
    <div class="container">
        <div class="album">
            <img src="Resources/Images/1.jpg" alt="Shoe_1" />
                <div class="info"><b>LeBron Ambassador 13</b> is a signature shoes of LeBron James. <b>Colorway:</b> White</div>
                
        </div>
        <div class="album">
            <img src="Resources/Images/2.jpg" alt="Shoe_2" />
                <div class="info"><b>Dame 8</b> is a signature shoes of Damian Lillard. <b>Colorway:</b> Sakura</div>
        </div>
        <div class="album">
            <img src="Resources/Images/3.jpg" alt="Shoe_3" />
                <div class="info"><b>D Rose Son of Chi</b> is a signature shoes of Derick Rose. <b>Colorway:</b> Cloud White </div>
        </div>
        <div class="album">
            <img src="Resources/Images/4.jpg" alt="Shoe_4" />
                <div class="info"><b>Zoom Freak 4</b> is a signature shoes of G. Antetokounmpo. <b>Colorway:</b> Navy</div>
        </div>
        <div class="album">
            <img src="Resources/Images/5.jpg" alt="Shoe_5" />
                <div class="info"><b>Nike Air Zoom G.T. Cut 2</b> is a signature shoes of Devin Booker. <b>Colorway:</b> Pink</div>
        </div>
        <div class="album">
            <img src="Resources/Images/6.jpg" alt="Shoe_6" />
                <div class="info"><b>Harden Vol. 6</b> is a signature shoes of James Harden. <b>Colorway:</b> Core Black</div>
        </div>
         <div class="album">
            <img src="Resources/Images/7.jpg" alt="Shoe_6" />
               <div class="info"><b>Giannis Immortality</b> signature shoes of G. Antetokounmpo. <b>Colorway:</b> White</div>
        </div>
        <div class="album">
            <img src="Resources/Images/8.jpg" alt="Shoe_6" />
                <div class="info"><b>Air Jordan 34</b> is a signature shoes of Michael Jordan. <b>Colorway:</b> Green</div>
        </div>
        <div class="album">
            <img src="Resources/Images/9.jpg" alt="Shoe_6" />
                <div class="info"><b>Air Jordan 36 Tatum</b> shoes worn by Jason Tatum. <b>Colorway:</b> White</div>
        </div>
        <div class="album">
            <img src="Resources/Images/10.jpg" alt="Shoe_6" />
                <div class="info"><b>Air Jordan 36 'Black Infrared'</b> is a signature shoes of Michael Jordan. <b>Colorway:</b> Black</div>
        </div>
        <div class="album">
            <img src="Resources/Images/11.jpg" alt="Shoe_6" />
                <div class="info"><b>KD 15</b> is a signature shoes of Kevin Durant. <b>Colorway:</b> Aunt Pearl</div>
        </div>
        <div class="album">
            <img src="Resources/Images/12.jpg" alt="Shoe_6" />
                 <div class="info"><b>KD 15</b> another colorway of Kevin Durant's shoes. <b>Colorway:</b> White</div>
        </div>
        <div class="album">
            <img src="Resources/Images/13.jpg" alt="Shoe_6" />
                <div class="info"><b>Kobe 5 Protro 'Bruce Lee Alt'</b> is a signature shoes of Kobe Bryant. <b>Colorway:</b> White</div>
        </div>
        <div class="album">
            <img src="Resources/Images/14.jpg" alt="Shoe_6" />
                <div class="info"><b>Kobe 6 Protro</b> is a signature shoes of Kobe Bryant. <b>Colorway:</b> Black</div>
        </div>
        <div class="album">
            <img src="Resources/Images/15.jpg" alt="Shoe_6" />
                <div class="info"><b>Kyrie Flytrap</b> is a signature shoes of Kyrie Irving. <b>Colorway:</b> White</div>
        </div>
        <div class="album">
            <img src="Resources/Images/16.jpg" alt="Shoe_6" />
                <div class="info"><b>LeBron 20</b> is a signature shoes of LeBron James. <b>Colorway:</b> Time Machine</div>
        </div>
        <div class="album">
            <img src="Resources/Images/17.jpg" alt="Shoe_6" />
                <div class="info"><b>Jordan Luka 1</b> is a signature shoes of Luka Doncic. <b>Colorway:</b> White</div>
        </div>
        <div class="album">
            <img src="Resources/Images/18.jpg" alt="Shoe_6" />
                <div class="info"><b>Precision 6</b> shoes worn by Max Strus (Miami Heat Player). <b>Colorway:</b> Black</div>
        </div>
        <div class="album">
            <img src="Resources/Images/19.jpg" alt="Shoe_6" />
                <div class="info"><b>Jordan Why Not 0.5</b> worn by Russel Westbrook. <b>Colorway:</b> Can't Beat That Price</div>
        </div>
        <div class="album">
            <img src="Resources/Images/20.jpg" alt="Shoe_6" />
                <div class="info"><b>Jordan Zion 1</b> is a signature shoes of Zion Williamsom. <b>Colorway:</b> Hyper Jade</div>
        </div>
    </div>
</body>
<footer></footer>

    


