@page
@model PhotoAlbum_Serna.Pages.NbateamsModel
@{
    ViewData["Title"] = "Nba Teams";
}
<head>
    <link rel="stylesheet" href="/css/teams.css">
</head>
<body>
    <h1 class="title">Top NBA Teams</h1>
    <div class="album east">
        <img class="east" src="Resources/Images/41.jpg" alt="Shoe_41" />
        <p class="desc"><b>Boston Celtics</b><br /> The Top 1 team in eastern 
            <br />conference. With current<br /> record of 40-16. Jayson 
            <br />Tatum leads the team with <br />30.8 points per game. </p>
    </div>
    <div class="album east">
        <img class="east" src="Resources/Images/42.jpg" alt="Shoe_42" />
        <p class="desc"><b>Milwaukee Bucks</b><br /> The Top 2 team in eastern 
            <br />conference. With current<br /> record of 39-17. Giannis  <br /> A. dominate the team with <br />32.4 points per game. </p>
    </div>
    <div id="phil" class="album east">
        <img class="east" src="Resources/Images/43.jpg" alt="Shoe_43" />
        <p class="desc"><b>Philadelphia 76ers</b><br /> The Top 3 team in eastern 
            <br />conference. With current<br /> record of 36-19. Joel  <br /> Embiid leads the team<br /> with 33.4 points per <br />game. </p>
    </div>
    <div class="album east">
        <img class="east" src="Resources/Images/44c.jpg" alt="Shoe_44" />
        <p class="desc"><b>Cleveland Cavaliers</b><br /> The Top 4 team in eastern 
            <br />conference. With current<br /> record of 37-22. Donovan  <br /> Mitchell leads the team<br /> with 26.9 points per game. </p>
    </div>
    <div class="album east">
        <img class="east" src="Resources/Images/45.jpg" alt="Shoe_45" />
        <p class="desc"><b>Brooklyn Nets</b><br /> The Top 5 team in eastern 
            <br />conference. With current<br /> record of 33-23. Nic  <br /> Claxton leads the team<br /> with 13.0 points per<br /> game. </p>
    </div>
    <div class="album east">
        <img class="east" src="Resources/Images/46.jpg" alt="Shoe_46" />
        <p class="desc"><b>Miami Heat</b><br /> The Top 6 team in eastern 
            <br />conference. With current<br /> record of 32-25. Jimmy  <br /> Butler leads the team<br /> with 21.9 points per game. </p>
    </div>
    <div class="album east">
        <img class="east" src="Resources/Images/47.jpg" alt="Shoe_47" />
        <p class="desc"><b>New York Knicks</b><br /> The Top 7 team in eastern 
            <br />conference. With current<br /> record of 31-27. Julius  <br /> Randle leads the team<br /> with 24.9 points per<br /> game. </p>
    </div>
    <div class="album east">
        <img class="east" src="Resources/Images/48.jpg" alt="Shoe_48" />
        <p class="desc"><b>Atlanta Hawks</b><br /> The Top 8 team in eastern 
            <br />conference. With current<br /> record of 29-28. Trae  <br /> Young leads the team<br /> with 26.9 points per game. </p>
    </div>
    <div class="album east">
        <img class="east" src="Resources/Images/49.jpg" alt="Shoe_49" />
        <p class="desc"><b>Chicago Bulls</b><br /> The Top 9 team in eastern 
            <br />conference. With current<br /> record of 26-30. DeMar  <br /> DeRozan leads the team<br /> with 25.5 points per<br /> game. </p>
    </div>
    <div class="album east">
        <img class="east" src="Resources/Images/50ttt.jpg" alt="Shoe_50" />
        <p class="desc"><b>Toronto Raptors</b><br /> Top 10 team in eastern 
            <br />conference. With current<br /> record of 26-31. Pascal  <br /> Siakam leads the team<br /> with 25.2 points per game. </p>
    </div>
    <div class="album west">
        <img class="west" src="Resources/Images/51.jpg" alt="Shoe_51" />
        <p class="desc"><b>Denver Nuggets</b><br /> The Top 1 team in western 
            <br />conference. With current<br /> record of 39-18. Nikola  <br /> Jokic leads the team with  <br />24.9 points per game. </p>
    </div>
    <div class="album west">
       <img class="west" src="Resources/Images/52.jpg" alt="Shoe_2" />
       <p class="desc"><b>Memphis Grizzlies</b><br /> The Top 2 team in western 
            <br />conference. With current<br /> record of 34-21. Ja Morant<br /> leads the team with  <br />27.5 points per game. </p>
    </div>
    <div class="album west">
        <img class="west" src="Resources/Images/53.jpg" alt="Shoe_2" />
        <p class="desc"><b>Sacramento Kings</b><br /> The Top 3 team in western 
            <br />conference. With current<br /> record of 32-24. De'Aaron <br />Fox leads the team with  <br />24.6 points per game. </p>
    </div>
    <div class="album west">
        <img class="west" src="Resources/Images/54d.jpg" alt="Shoe_2" />
         <p class="desc"><b>Dallas Mavericks</b><br /> The Top 4 team in western 
            <br />conference. With current<br /> record of 31-27. Luka <br />Doncic leads the team <br />with 33.2 points per game. </p>
    </div>
    <div class="album west">
        <img class="west" src="Resources/Images/55.jpg" alt="Shoe_2" />
        <p class="desc"><b>Phoenix Suns</b><br /> The Top 5 team in western 
            <br />conference. With current<br /> record of 31-27. Deandre <br />Ayton leads the team <br />with 18.6 points per game. </p>
    </div>
    <div class="album west">
        <img class="west" src="Resources/Images/56.jpg" alt="Shoe_2" />
       <p class="desc"><b>Los Angeles Clippers</b><br /> The Top 6 team in western 
            <br />conference. With current<br /> record of 31-28. Paul <br />George leads the team <br />with 23.3 points per game. </p>
    </div>
    <div class="album west">
        <img class="west" src="Resources/Images/57.jpg" alt="Shoe_2" />
        <p class="desc"><b>New Orleans Pelicans</b><br /> The Top 7 team in western 
            <br />conference. With current<br /> record of 29-28. CJ <br />McCollum leads the team <br />with 21.1 points per game. </p>
    </div>
    <div class="album west">
        <img class="west" src="Resources/Images/58.jpg" alt="Shoe_2" />
        <p class="desc"><b>Minnesota Timberwolves</b><br /> The Top 8 team in western 
            <br />conference. With current<br /> record of 30-29. Anthony <br />Edwards leads the team <br />with 24.6 points per game. </p>
    </div>
    <div class="album west">
        <img class="west" src="Resources/Images/59.jpg" alt="Shoe_2" />
        <p class="desc"><b>Golden State Warriors</b><br /> The Top 9 team in western 
            <br />conference. With current<br /> record of 28-22. Klay <br />Thompson leads the team <br />with 21.4 points per game. </p>
    </div>
    <div class="album west">
        <img class="west" src="Resources/Images/60t.jpg" alt="Shoe_2" />
        <p class="desc"><b>Oklahoma City Thunder</b><br /> The Top 10 team in western 
            <br />conference. With current<br /> record of 27-28. Shai <br />Gilgeous-Alexander leads<br /> the team with 31.0 points <br />per game. </p>
    </div>
</body>
<footer></footer>

