@page
@model PhotoAlbum_Serna.Pages.ValorantAgentsModel
@{
	 ViewData["Title"] = "Valorant Agents";
}
<head>
	<link rel="stylesheet" href="/css/valorant.css">
</head>
<body>
	<h1 class="title">Valorant Agents View</h1>
	<div class="row mb-2">
		<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Duelist</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Raze</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Raze explodes out of Brazil with her big personality and big guns. 
					With her blunt-force-trauma playstyle, she excels at flushing entrenched enemies and clearing tight spaces with a generous dose of “boom.”</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/81.jpg" alt="Agent_1" width="200" height="270" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>

	<div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Duelist</font></font></strong>
          <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Jett</font></font></h3>
          <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Representing her home country of South Korea, Jett's agile and evasive fighting style lets her take risks no one else can.
				She runs circles around every skirmish, cutting enemies before they even know what hit them.</font></font></p>
        </div>
        <div class="col-auto d-none d-lg-block">
		  <img class="bd-placeholder-img" src="Resources/Images/82.jpg" alt="Agent_1" width="200" height="270" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
        </div>
      </div>
    </div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Duelist</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Phoenix</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hailing from the U.K., Phoenix's star power shines through in his fighting style, igniting the battlefield with flash and flare. 
				Whether he's got backup or not, he'll rush into a fight on his own terms.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/83.jpg" alt="Agent_1" width="200" height="270" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Duelist</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Reyna</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Forged in the heart of Mexico, Reyna dominates single combat, popping off with each kill she scores. Her capability is only limited 
				by her raw skill, making her highly dependent on performance.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/84.jpg" alt="Agent_1" width="200" height="270" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Duelist</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Neon</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Filipino Agent Neon surges forward at shocking speeds, discharging bursts of bioelectric radiance as fast as her body generates it. 
				She races ahead to catch enemies off guard, then strikes them down quicker than lightning.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/85.jpg" alt="Agent_1" width="200" height="270" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Duelist</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Yoru</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Japanese native, Yoru, rips holes straight through reality to infiltrate enemy lines unseen. Using deception and aggression in 
				equal measure, he gets the drop on each target before they know where to look.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/86.jpg" alt="Agent_1" width="200" height="270" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sentinel</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Killjoy</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The genius of Germany. Killjoy secures the battlefield with ease using her arsenal of inventions. If the damage from her gear doesn't stop her enemies, her robots' debuff will help make short work of them.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/87.jpg" alt="Agent_1" width="200" height="270" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>

	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sentinel</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cypher</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The Moroccan information broker, Cypher is a one-man surveillance network who keeps tabs on the enemy's every move. No secret is safe. No maneuver goes unseen. Cypher is always watching.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/88.jpg" alt="Agent_1" width="200" height="270" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sentinel</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Chamber</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Well dressed and well armed, French weapons designer Chamber expels aggressors with deadly precision. He leverages his custom arsenal to hold the line and pick off enemies from afar, 
				with a contingency built for every plan.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/89.jpg" alt="Agent_1" width="200" height="270" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sentinel</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sage</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The stronghold of China, Sage creates safety for herself and her team wherever she goes. Able to revive fallen friends and stave off aggressive pushes, she provides a calm center to a hellish fight.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/90.jpg" alt="Agent_1" width="200" height="270" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Initiator</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sova</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Born from the eternal winter of Russia's tundra, Sova tracks, finds, and eliminates enemies with ruthless efficiency and precision. His custom bow and incredible scouting abilities 
				ensure that even if you run, you cannot hide.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/91.jpg" alt="Agent_1" width="200" height="280" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Initiator</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Skye</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hailing from Australia, Skye and her band of beasts trail-blaze the way through hostile territory. With her creations hampering the enemy, and her power to heal others, the team is strongest and safest by Skye’s side.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/92.jpg" alt="Agent_1" width="200" height="280" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Initiator</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Breach</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Breach, the bionic Swede, fires powerful, targeted kinetic blasts to aggressively clear a path through enemy ground. The damage and disruption he inflicts ensures no fight is ever fair.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/93.jpg" alt="Agent_1" width="200" height="270" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Controller</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Viper</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The American chemist, Viper deploys an array of poisonous chemical devices to control the battlefield and cripple the enemy's vision. If the toxins don't kill her prey, her mind games surely will.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/99.jpg" alt="Agent_1" width="200" height="270" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Controller</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Brimstone</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Joining from the USA, Brimstone's orbital arsenal ensures his squad always has the advantage. His ability to deliver utility precisely and from a distance makes him an unmatched boots-on-the-ground commander.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/97.jpg" alt="Agent_1" width="200" height="270" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Controller</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Astra</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ghanaian Agent Astra harnesses the energies of the cosmos to reshape battlefields to her whim. With full command of her astral form and a talent for deep strategic foresight, she's always eons ahead of enemy's move.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/96.jpg" alt="Agent_1" width="200" height="270" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Initiator</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kayo</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">KAY/O is a machine of war built for a single purpose: neutralizing radiants. His power to suppress enemy abilities cripples his opponents' capacity to fight back, securing him and his allies the ultimate edge.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/95.jpg" alt="Agent_1" width="200" height="270" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Controller</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Harbor</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Hailing from India’s coast, Harbor storms the field wielding ancient technology with dominion over water. He unleashes frothing rapids and crushing waves to shield his allies and pummel those that oppose him.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/100h.jpg" alt="Agent_1" width="200" height="270" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Initiator</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fade</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Turkish bounty hunter, unleashes the power of raw nightmares to seize enemy secrets. Attuned with terror itself, she hunts targets and reveals their fears—before crushing them in the dark.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/94.jpg" alt="Agent_1" width="200" height="270" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>
	<div class="col-md-6">
		  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
			  <strong class="d-inline-block mb-2 text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Controller</font></font></strong>
			  <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Omen</font></font></h3>
			  <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">A phantom of a memory, Omen hunts in the shadows. He renders enemies blind, teleports across the field, then lets paranoia take hold as his foe scrambles to learn where he might strike next.</font></font></p>
			</div>
			<div class="col-auto d-none d-lg-block">
			  <img class="bd-placeholder-img" src="Resources/Images/98.jpg" alt="Agent_1" width="200" height="270" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect/>
			</div>
		  </div>
		</div>


	</div>
</body>